USE [master]
GO
/****** Object:  Database [CabinetVeterinar]    Script Date: 1/5/2026 5:57:02 PM ******/
CREATE DATABASE [CabinetVeterinar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CabinetVeterinar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CabinetVeterinar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CabinetVeterinar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CabinetVeterinar_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CabinetVeterinar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CabinetVeterinar]
GO
/****** Object:  Table [dbo].[ANIMAL]    Script Date: 1/5/2026 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIMAL](
	[Id_animal] [int] IDENTITY(1,1) NOT NULL,
	[Id_stapan] [int] NULL,
	[Nume] [nvarchar](50) NULL,
	[Specie] [nvarchar](30) NULL,
	[Rasa] [nvarchar](50) NULL,
	[Varsta] [int] NULL,
	[Sex] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FISA_MEDICALA]    Script Date: 1/5/2026 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FISA_MEDICALA](
	[Id_fisa] [int] IDENTITY(1,1) NOT NULL,
	[Id_animal] [int] NULL,
	[Data_vizita] [datetime] NULL,
	[Motiv_vizita] [nvarchar](200) NULL,
	[Greutate] [decimal](5, 2) NULL,
	[Temperatura] [decimal](4, 1) NULL,
	[Diagnostic] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_fisa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLATI]    Script Date: 1/5/2026 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATI](
	[Id_plata] [int] IDENTITY(1,1) NOT NULL,
	[Id_stapan] [int] NOT NULL,
	[Data_plata] [datetime] NULL,
	[Descriere] [nvarchar](150) NULL,
	[Suma] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_plata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMARI]    Script Date: 1/5/2026 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMARI](
	[Id_programare] [int] IDENTITY(1,1) NOT NULL,
	[Id_animal] [int] NOT NULL,
	[Data_ora] [datetime] NOT NULL,
	[Motiv] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_programare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAPAN]    Script Date: 1/5/2026 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAPAN](
	[Id_stapan] [int] IDENTITY(1,1) NOT NULL,
	[Id_user] [int] NULL,
	[Nume] [nvarchar](50) NULL,
	[Prenume] [nvarchar](50) NULL,
	[Telefon] [nvarchar](20) NULL,
	[Adresa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_stapan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ACCOUNT]    Script Date: 1/5/2026 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ACCOUNT](
	[Id_user] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Parola] [nvarchar](255) NOT NULL,
	[Profile_Pic] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACCINARI]    Script Date: 1/5/2026 5:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACCINARI](
	[Id_vaccin] [int] IDENTITY(1,1) NOT NULL,
	[Id_animal] [int] NULL,
	[Data_vaccinare] [date] NULL,
	[Tip_vaccin] [nvarchar](100) NULL,
	[Data_rapel] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_vaccin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ANIMAL] ON 

INSERT [dbo].[ANIMAL] ([Id_animal], [Id_stapan], [Nume], [Specie], [Rasa], [Varsta], [Sex]) VALUES (1, 2, N'Max', N'Caine', N'Ciobanesc German', 15, N'F')
INSERT [dbo].[ANIMAL] ([Id_animal], [Id_stapan], [Nume], [Specie], [Rasa], [Varsta], [Sex]) VALUES (2, 3, N'Rex', N'Caine', N'Ciobanesc German', 3, N'F')
INSERT [dbo].[ANIMAL] ([Id_animal], [Id_stapan], [Nume], [Specie], [Rasa], [Varsta], [Sex]) VALUES (3, 3, N'Luna', N'Pisica', N'Europeana', 2, N'M')
SET IDENTITY_INSERT [dbo].[ANIMAL] OFF
GO
SET IDENTITY_INSERT [dbo].[FISA_MEDICALA] ON 

INSERT [dbo].[FISA_MEDICALA] ([Id_fisa], [Id_animal], [Data_vizita], [Motiv_vizita], [Greutate], [Temperatura], [Diagnostic]) VALUES (1, 2, CAST(N'2025-08-10T14:56:57.273' AS DateTime), N'Vaccinare Anuala', CAST(21.00 AS Decimal(5, 2)), CAST(38.5 AS Decimal(4, 1)), N'Stare generala buna. Vaccin polivalent efectuat.')
INSERT [dbo].[FISA_MEDICALA] ([Id_fisa], [Id_animal], [Data_vizita], [Motiv_vizita], [Greutate], [Temperatura], [Diagnostic]) VALUES (2, 2, CAST(N'2025-11-13T14:56:57.273' AS DateTime), N'Otita', CAST(22.00 AS Decimal(5, 2)), CAST(39.1 AS Decimal(4, 1)), N'Inflamatie ureche dreapta. Curatare + Tratament picaturi.')
INSERT [dbo].[FISA_MEDICALA] ([Id_fisa], [Id_animal], [Data_vizita], [Motiv_vizita], [Greutate], [Temperatura], [Diagnostic]) VALUES (3, 3, CAST(N'2025-05-22T14:56:57.273' AS DateTime), N'Sterilizare', CAST(4.00 AS Decimal(5, 2)), CAST(38.2 AS Decimal(4, 1)), N'Operatie reusita. Recuperare normala.')
SET IDENTITY_INSERT [dbo].[FISA_MEDICALA] OFF
GO
SET IDENTITY_INSERT [dbo].[PLATI] ON 

INSERT [dbo].[PLATI] ([Id_plata], [Id_stapan], [Data_plata], [Descriere], [Suma], [Status]) VALUES (1, 2, CAST(N'2025-12-16T19:59:12.283' AS DateTime), N'Consultatie Generala', CAST(150.00 AS Decimal(10, 2)), N'Achitat')
INSERT [dbo].[PLATI] ([Id_plata], [Id_stapan], [Data_plata], [Descriere], [Suma], [Status]) VALUES (2, 3, CAST(N'2025-12-16T19:59:12.283' AS DateTime), N'Consultatie Generala', CAST(150.00 AS Decimal(10, 2)), N'Achitat')
INSERT [dbo].[PLATI] ([Id_plata], [Id_stapan], [Data_plata], [Descriere], [Suma], [Status]) VALUES (3, 4, CAST(N'2025-12-16T19:59:12.283' AS DateTime), N'Consultatie Generala', CAST(150.00 AS Decimal(10, 2)), N'Achitat')
SET IDENTITY_INSERT [dbo].[PLATI] OFF
GO
SET IDENTITY_INSERT [dbo].[PROGRAMARI] ON 

INSERT [dbo].[PROGRAMARI] ([Id_programare], [Id_animal], [Data_ora], [Motiv], [Status]) VALUES (1, 2, CAST(N'2025-12-11T14:56:57.273' AS DateTime), N'Control Otita', N'Confirmat')
INSERT [dbo].[PROGRAMARI] ([Id_programare], [Id_animal], [Data_ora], [Motiv], [Status]) VALUES (2, 2, CAST(N'2026-12-08T14:56:57.273' AS DateTime), N'Rapel Vaccin', N'In Asteptare')
INSERT [dbo].[PROGRAMARI] ([Id_programare], [Id_animal], [Data_ora], [Motiv], [Status]) VALUES (3, 3, CAST(N'2025-12-13T14:56:57.273' AS DateTime), N'Taiere unghii', N'In Asteptare')
SET IDENTITY_INSERT [dbo].[PROGRAMARI] OFF
GO
SET IDENTITY_INSERT [dbo].[STAPAN] ON 

INSERT [dbo].[STAPAN] ([Id_stapan], [Id_user], [Nume], [Prenume], [Telefon], [Adresa]) VALUES (2, 1, N'Vasilescu', N'Andreea Alex', N'0751789963', N'Str Zorleasca 23')
INSERT [dbo].[STAPAN] ([Id_stapan], [Id_user], [Nume], [Prenume], [Telefon], [Adresa]) VALUES (3, 2, N'Popescu', N'Andrei', N'0720001234', N'Strada Libertatii nr. 2, Bucuresti')
INSERT [dbo].[STAPAN] ([Id_stapan], [Id_user], [Nume], [Prenume], [Telefon], [Adresa]) VALUES (4, 3, N'Ionescu', N'Elena', N'0720002468', N'Strada Libertatii nr. 4, Bucuresti')
SET IDENTITY_INSERT [dbo].[STAPAN] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] ON 

INSERT [dbo].[USER_ACCOUNT] ([Id_user], [Username], [Email], [Parola], [Profile_Pic]) VALUES (1, N'Alexandru Vasilescu', N'andreea.alexandra.vasi.16@gmail.com', N'$2b$12$TIXAtkyEXMCkHOXa.uXeNetiuwmqSLT/JpzZfexF0HJNujrYojtVO', N'https://lh3.googleusercontent.com/a/ACg8ocJIIZW6b0z-O1HdPR5-bAxZiEQX43m9uhnnjm4vGCAsSh85O57m=s96-c')
INSERT [dbo].[USER_ACCOUNT] ([Id_user], [Username], [Email], [Parola], [Profile_Pic]) VALUES (2, N'Andrei Popescu', N'andrei.popescu1@yahoo.com', N'$2b$12$TIXAtkyEXMCkHOXa.uXeNetiuwmqSLT/JpzZfexF0HJNujrYojtVO', N'https://img.freepik.com/free-photo/portrait-young-woman-with-natural-make-up_23-2149084945.jpg')
INSERT [dbo].[USER_ACCOUNT] ([Id_user], [Username], [Email], [Parola], [Profile_Pic]) VALUES (3, N'Elena Ionescu', N'elena.ionescu2@yahoo.com', N'$2b$12$TIXAtkyEXMCkHOXa.uXeNetiuwmqSLT/JpzZfexF0HJNujrYojtVO', N'https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg')
SET IDENTITY_INSERT [dbo].[USER_ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[VACCINARI] ON 

INSERT [dbo].[VACCINARI] ([Id_vaccin], [Id_animal], [Data_vaccinare], [Tip_vaccin], [Data_rapel]) VALUES (2, 1, CAST(N'2025-12-23' AS Date), N'Antirabic', CAST(N'2025-12-25' AS Date))
SET IDENTITY_INSERT [dbo].[VACCINARI] OFF
GO
/****** Object:  Index [UQ__STAPAN__B607F249F9E042B4]    Script Date: 1/5/2026 5:57:02 PM ******/
ALTER TABLE [dbo].[STAPAN] ADD UNIQUE NONCLUSTERED 
(
	[Id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FISA_MEDICALA] ADD  DEFAULT (getdate()) FOR [Data_vizita]
GO
ALTER TABLE [dbo].[PLATI] ADD  DEFAULT (getdate()) FOR [Data_plata]
GO
ALTER TABLE [dbo].[PLATI] ADD  DEFAULT ('Achitat') FOR [Status]
GO
ALTER TABLE [dbo].[PROGRAMARI] ADD  DEFAULT ('In Asteptare') FOR [Status]
GO
ALTER TABLE [dbo].[ANIMAL]  WITH CHECK ADD FOREIGN KEY([Id_stapan])
REFERENCES [dbo].[STAPAN] ([Id_stapan])
GO
ALTER TABLE [dbo].[FISA_MEDICALA]  WITH CHECK ADD FOREIGN KEY([Id_animal])
REFERENCES [dbo].[ANIMAL] ([Id_animal])
GO
ALTER TABLE [dbo].[PLATI]  WITH CHECK ADD FOREIGN KEY([Id_stapan])
REFERENCES [dbo].[STAPAN] ([Id_stapan])
GO
ALTER TABLE [dbo].[PROGRAMARI]  WITH CHECK ADD FOREIGN KEY([Id_animal])
REFERENCES [dbo].[ANIMAL] ([Id_animal])
GO
ALTER TABLE [dbo].[STAPAN]  WITH CHECK ADD FOREIGN KEY([Id_user])
REFERENCES [dbo].[USER_ACCOUNT] ([Id_user])
GO
ALTER TABLE [dbo].[VACCINARI]  WITH CHECK ADD FOREIGN KEY([Id_animal])
REFERENCES [dbo].[ANIMAL] ([Id_animal])
GO
USE [master]
GO
